<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola mundo</title>
  </head>
  <body>
    {% if name == "Gael" %}
    <h1>Hola Gael!</h1>
    <h2>Nombre: {{name | title}}</h2>
    {% elif name == "Jorge"%}
    <h1>Hola Jorge!</h1>
    {% else %}
    <h1>Hola invitado!</h1>
    {% endif %}

    <p>Edad: {{age}}</p>
    <p>Fecha: {{today | date:"d/m/Y"}}</p>

    <p>Stack de Tecnologías</p>
    <ul>
      {% for tool in stack %}
      <li>{{tool}}</li>
      {% empty %}
      <li>No hay stack de tecnologías</li>
      {% endfor %}
    </ul>
  </body>
</html>
