{% extends 'base.html' %} 

{% block title %} Landing Page {% endblock title %}

{%block content %} 
  {%if name == "Gael" %}
      <h1>Hola Gael!</h1>
      <h2>Nombre: {{name | title}}</h2>
  {% elif name == "Jorge"%}
      <h1>Hola Jorge!</h1>
  {% else %}
      <h1>Hola invitado!</h1>
  {% endif %}

      <p>Edad: {{age}}</p>
      <p>Fecha: {{today | date:"d/m/Y"}}</p>

      <p>Stack de Tecnologías</p>
    <ul>
      {% for tool in stack %}
        <li><a href="{% url 'stack' tool.id %}">{{tool.name}}</a></li>
      {% empty %}
        <li>No hay stack de tecnologías</li>
      {% endfor %}
    </ul>
{% endblock content %}
